body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(bussineswoman.jpg);
    background-size: cover;
    background-size: 1200px

    
}
.loginbox {
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    
    
    
    
    
}